<article class="card">
    <div class="account-item">
        <div>
            <p class="account-type"><%= account_type %></p>
            <p class="account-number">
                **** <%= String(account_number || '').slice(-4) %>
            </p>
        </div>
        <p class="account-balance">
            <%= currency %> <%= Number(balance || 0).toFixed(2) %>
        </p>
    </div>
</article>
