<article class="d-flex flex-column border p-2 spacing-md">
    <div class="d-flex justify-content-between">
        <div>
            <h2>Savings</h2>
            <p>**** 9999</p>
        </div>
        <button class="ignore-sizing" style="max-height: 50px">Hide</button>
    </div>
    <p>$12345.00</p>
</article>
