<form action="/transaction/2">
    <button type="submit" class="p-2 spacing-md w-100">
        <div class="d-flex justify-content-between">
            <h2 class="fs-6 mb-0">Savings</h2>
            <p class="fs-6 mb-0">**** 9999</p>
        </div>
        <p class="fs-6 mb-0 text-start">$12345.00</p>
    </button>
    <input type="hidden" name="accountID" value="123-2345" />
    <input type="hidden" name="totalMoney" value="123" />
</form>
