:root {
  --spacing: 16px;
}

.spacing-md {
  margin-bottom: var(--spacing);
}

.spacing-lg {
  margin-bottom: calc(var(--spacing) * 2);
}

.spacing-sm {
  margin-bottom: calc(var(--spacing) / 2);
}

.padding-md {
  padding: var(--spacing);
}

.gap-md {
  gap: var(--spacing);
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 7vw;
  font-family: arial, sans-serif;
}

input {
  font-size: 7vw;
}

button {
  font-size: 7vw;
  border-radius: 10px;
  border: none;
  padding: 10px;
}