:root {
  --spacing: 8;
  --buttonSize: 50px;
  --secondary-text-color: #978b8b;
  --secondary-bg-color: #e2e2e2;
  --ocbc-red: #ed1c24;
}

body {
  margin: 0;
  font-family: "Trebuchet MS", sans-serif;
}

a {
  text-decoration: none;
  width: 100%;
}

button,
input {
  min-height: var(--buttonSize);
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: var(--secondary-bg-color);
}

input[type=range] {
  width: 100%;
  margin: 0;
}

input {
  padding: 0px;
  padding-left: 10px;
}

h1 {
  font-weight: normal;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

.important-button {
  color: white;
  background-color: var(--ocbc-red)
}

.subtitle {
  color: var(--secondary-text-color);
}

.spacing-md {
  display: block;
  margin-bottom: var(--spacing);
}

.ignore-sizing {
  min-height: 0px;
  height: 50px;
}

.loadingContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}