:root {
  --spacing: 8;
  --buttonSize: 50px;
  --secondary-text-color: #978b8b;
  --secondary-input-color: #e2e2e2;
  --secondary-bg-color: #f9f9f9;
  --ocbc-red: #ed1c24;
}

body {
  margin: 0;
  font-family: "Trebuchet MS", sans-serif;
}

a {
  text-decoration: none;
  width: 100%;
}

button,
input,
select {
  min-height: var(--buttonSize);
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: var(--secondary-input-color);
}

input[type=range] {
  width: 100%;
  margin: 0;
}

input {
  padding: 0px;
  padding-left: 10px;
}

h1 {
  font-weight: normal;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

hr {
  height: 1px;
  width: 100%;
  background-color: var(--secondary-input-color);
  border: none;
  margin: 0;
}

.important-button {
  color: white !important;
  background-color: var(--ocbc-red) !important;
}

.subtitle {
  color: var(--secondary-text-color);
}

.spacing-md {
  display: block;
  margin-bottom: var(--spacing);
}

.ignore-sizing {
  min-height: 0px;
  height: 50px;
}

.loadingContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.bodyMini {
  width: 100%;
  max-width: 768px;
}

.selectedAccountCard {
  border: 5px solid var(--ocbc-red);
}

.selected {
  border: 5px solid var(--ocbc-red) !important;
}

@media (min-width: 1000px) {
  .ReactModal__Content {
    inset: 20% !important;
  }
}

@media (max-width: 1000px) {
  .ReactModal__Content {
    inset: 15% !important;
  }
}

.accountCard {
  background-color: white;
}