:root {
  --spacing: 16px;
  --buttonSize: 50px;
}


.spacing-md {
  display: block;
  margin-bottom: var(--spacing);
}

body {
  margin: 0;
  font-family: arial, sans-serif;
}

a {
  text-decoration: none;
}

.important-button {
  color: white;
  background-color: red;
}