body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 7vw;
  font-family: arial, sans-serif;
}

input {
  font-size: 7vw;
}

button {
  font-size: 7vw;
  border-radius: 10px;
  border: none;
  padding: 10px;
}