.body {
        width: 100%;
        max-width: 700px;
}

.mainContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--secondary-bg-color)
}

.subContainer {
        width: 90%;
}

.headerInput {
        background-color: white;
        margin: 10px;
        border: 1px solid var(--secondary-input-color);
}