.title {
        margin: 20px;
        text-align: center;
}

.myAccountsTitle {
        margin: 20px;
        margin-bottom: 10px;
}

.buttonContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.buttonContainer button {
        width: 90%;
        margin: 10px;
}

.lastButtonOfDiv {
        margin-bottom: 20px;
}