.body {
        width: 100%;
        max-width: 700px;
}

.mainContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--secondary-bg-color)
}

.subContainer {
        width: 90%;
}

.mainContainerRegular {
        display: flex;
        justify-content: center;
}

.bodyRegular {
        width: 100%;
        max-width: 1080px;
}