.title {
        margin: 20px;
}

.myAccountsTitle {
        margin-bottom: 10px;
}

.buttonContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
}

.buttonContainer button {
        width: 90vw;
}

.lastButtonOfDiv {
        margin-bottom: 20px;
}