.mainContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--secondary-bg-color)
}

@media (max-width: 768px) {
        .mainContainer {
                margin-bottom: 60px;
        }
}

.subContainer {
        width: 90%;
}

.mainContainerRegular {
        display: flex;
        justify-content: center;
}

.bodyRegular {
        width: 100%;
        max-width: 1080px;
}