.container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}

.navButton {
        width: 100%;
        border: none;
        border-radius: 0;
        font-size: 1rem;
}

.buttonContainer {
        width: 100%;
}