<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <main class="container vh100">
            <h1>Welcome back, {name}</h1>
            <hr />
            <section class="container">
                <h2>What would you like to do?</h2>
                <button class="spacing-md">Transfer Money</button>
                <button class="spacing-md">Pay Bills</button>
                <button class="spacing-md">View Transactions</button>
            </section>
            <hr />
            <section>
                <h2>My Accounts</h2>
                <%- include("partials/accountCardComponent.ejs")%> <%- include("partials/accountCardComponent.ejs")%>
                <%-include("partials/accountCardComponent.ejs")%>
            </section>
        </main>
        <%- include("partials/footer.ejs") %>
    </body>
</html>
