<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head.ejs") %>
        <title>Log in</title>
    </head>
    <body>
        <main class="d-flex flex-column justify-content-center align-items-center overflow-auto" style="min-height: 100vh">
            <form action="/dashboard">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" placeholder="Enter your username" class="spacing-md" />
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" placeholder="Enter your password" class="spacing-md" />
                </div>
                <a href="" class="spacing-md"> Forgot password? </a>
                <button type="submit" class="spacing-md w-100">Login</button>
            </form>
            <hr />
            <form action="/dashboard" class="flex flex-column">
                <div>
                    <label for="otp">Assistance password:</label>
                    <input type="text" name="otp" id="otp" placeholder="Assistance OTP" class="spacing-md" />
                </div>
                <button class="w-100">Assist</button>
            </form>
        </main>
        <%- include("partials/accessibilityComponent.ejs") %>
    </body>
</html>
