<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <div class="container">
            <form action="/dashboard" class="flexbox">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" placeholder="Enter your username" class="spacing-md" />
                </div>
                <div>
                    <label for="username">Password:</label>
                    <input type="text" name="username" id="username" placeholder="Enter your password" class="spacing-md" />
                </div>
                <div>
                    <a href="" class="spacing-md"> Forgot password? </a>
                </div>
                <button type="submit" class="spacing-md">Login</button>
            </form>
            <hr />
            <form action="/dashboard" class="flexbox otp-form">
                <div>
                    <label for="otp">Assistance password:</label>
                    <input type="text" name="otp" id="otp" placeholder="Assistance OTP" class="spacing-md" />
                </div>
                <button>Assist</button>
            </form>
        </div>
    </body>
</html>
