:root {
        --spacing: 16px;
        --buttonSize: 50px;
}

.spacing-md {
        display: block;
        margin-bottom: var(--spacing);
}

body {
        font-size: 2rem;
        font-family: arial, sans-serif;
        margin: 0;
}

.flexbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
}

.container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
}

input,
button {
        font-size: 2rem;
        width: 90vw;
}