:root {
        --spacing: 16px;
        --buttonSize: 50px;
}

.spacing-md {
        display: block;
        margin-bottom: calc(var(--spacing) * 0.7);
}

body {
        font-family: arial, sans-serif;
        margin: 0;
        font-size: 150%;
}

input,
button {
        min-height: calc(var(--buttonSize) * 0.5);
}

.ignore-sizing {
        min-height: 0;
}

.important-button {
        background-color: hsl(0, 100%, 41%);
}

.help-button {
        background-color: hsl(109, 95%, 43%);
}

a {
        text-decoration: none;
}

.highlighted-step {
        width: 50px;
        height: 50px;
        cursor: default;
}