:root {
        --spacing: 16px;
        --buttonSize: 50px;
}

.spacing-md {
        display: block;
        margin-bottom: var(--spacing);
}

body {
        font-family: arial, sans-serif;
        margin: 0;
}

input,
button {
        font-size: 2rem;
        min-height: var(--buttonSize);
}

label,
a {
        font-size: 2rem;
}

.ignore-sizing {
        min-height: 0;
}