.cardContainer {
        border: 5px solid black;
        border-radius: 20px;
        padding: 20px;
        font-size: 1rem;
        width: 80vw;
}

.header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}

.ignoreSizing {
        min-height: 0px;
        height: 50px;
        font-size: 1.5rem;
        padding: 10px;
}