.mainContainer {
        border: 1px solid var(--secondary-input-color);
        border-radius: 20px;
        padding: 20px;
}

.hideButton {
        min-height: 0px;
        width: 50px;
        height: 50px;
}