.stepCircle {
        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
}

.stepLine {
        width: 50px;
        height: 5px;
        background-color: white;
}